.section{
    width: 760px;
    margin: 0 auto;   
}

section{
    padding-top: 80px;
    text-align: center;
}

section input{
    width: 760px;
}

section button{
    width: 80px;
    margin-top:20px;
    margin-right: 50px;
    margin-left: 40px;
}

footer {
    position:absolute;
    bottom:0;
    width:760px;
}

.righFooter{
    float: left;
}

.leftFooter{
    float: right;
}

