<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PyTube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/javaScript/script.js"></script>
    <link rel="shortcut icon" type="image/png" href="static/images/favIcon.png"/>
</head>

<body>
    <div class="section">
        <header class="menu">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for ('about') }}">About</a>
                </li>
            </ul>
        </header>
        <section>
            <form id="formUrl">
                <label>URL from YouTube: </label>
                <input type="text" value="" name="link" id="link" />
                <button id="audioButton" name="audioButton" onclick="getName(this.name)">Audio</button>
                <button id="videoButton" name="videoButton" onclick="getName(this.name)">Video</button>
            </form>
        </section>
        <label id="inicio"></label><br/>
        <label id="nomeVideo"></label><br/>
        <label id="status"></label><br/>
        <label id="resultado"></label><br/>
        <footer>
            <hr>
            <p class="righFooter">Developed by Matheus de Alcântara Silva</p>

            <p class="leftFooter">Contact: matheusssilv97@gmail.com</p>
        </footer>
    </div>
</body>

</html>